*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}
#menu {
	background: goldenrod;
	color: purple;
	height: 46px;
	padding-left: 18px;
	border-radius: 10px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
    margin-top: -50px;
    margin-left: 50%;
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 46px;
	padding: 0 14px;
	text-decoration: none;
	color: #000;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: goldenrod;
	background: purple;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 46px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
label {
    margin-top: -0px;
    color: purple;
	line-height: 46px;
    margin-left: 20px;
    
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: goldenrod;
	font-size: 16px;
    background-color: rgb(66, 14, 66);
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:goldenrod;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input {z-index:4}
	#menu input:checked + label {color:purple}
	#menu input:checked ~ ul {display:block}
}
